<% include ../layout/header %>
<form method="POST" action="/admin">
<table style="border: black solid 1px; align-self: center;">
    <th>
        <p style="width: 200% ">Welcome to admin pane</p>

    </th>
    <tr>
        <td>name : </td><td><input type="text" name="name" placeholder="enter your name"/></td>
        </tr>
        <tr>
        <td>password :  </td><td><input type="password" name="password" placeholder="enter your password"/></td>
        </tr>
        
        <tr>
        <td><button >submit </button> </td>
        </tr>
        </table>
    </form>
<% include ../layout/footer %>