<% include ../layout/header %>
<!--login form-->
<style>
    body {font-family: Arial, Helvetica, sans-serif;}
    * {box-sizing: border-box}
    
    /* Full-width input fields */
    /*input[type=text], input[type=password] */
    
    .s{
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
    }
    
    input[type=text]:focus, input[type=password]:focus {
      background-color: #ddd;
      outline: none;
    }
    
    hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 25px;
    }
    
    /* Set a style for all buttons */
    button {
      background-color: rgb(224, 157, 11);
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
    }
    
    button:hover {
      opacity:1;
    }
    
    /* Extra styles for the cancel button */
    .cancelbtn {
      padding: 14px 20px;
      background-color: #f44336;
    }
    
    /* Float cancel and signup buttons and add an equal width */
    .cancelbtn, .signupbtn {
      float: left;
      width: 50%;
    }
    
    /* Add padding to container elements */
    .container {
      padding: 16px;
    }
    
    .v{
        width: 500px;
        height: 300px;
        margin-left: 750px;
        margin-top: 100px;
        position: relative;
        margin-top: -50px;
        /*background-color: aqua*/
    }
    /* Clear floats */
    .clearfix::after {
      content: "";
      clear: both;
      display: table;
    }
    
    /* Change styles for cancel button and signup button on extra small screens */
    @media screen and (max-width: 300px) {
      .cancelbtn, .signupbtn {
         width: 100%;
      }
    }
    
    /*the login part*/
    div{
      display: inline;
    }
    .bt{
      width: 90px;
    }
    </style>
<link rel="stylsheet" href="../../public/css/homeuser">
<form class="log" action="/signin/" method="POST"> 
    <div class="container">
      <input type="email" placeholder="Enter your E-mail" name="email" required>
      <input type="password" placeholder="Enter Password" name="pass" required>  
      <button class="bt" onclick="LoginUser()">Login</button>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
    </div>
  </form>
  

  <script>
    const token =localStorage.getItem("token")
    function LoginUser() {
      return fetch('http://localhost:5000/signin/', {
        body: "user",
        method: 'POST',
        headers: {
         token
        },
      }).then(response =>
          response.json()
      )
    }
    </script>


<% include ../layout/footer %>