<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <style>

            /*the navigation bar styling*/
            ul {
                        list-style-type: none;
                        margin: 0;
                        padding: 0;
                        overflow: hidden;
                        background-color: #333;
                        }

                        li {
                        float: left;
                        }

                        li a {
                        display: block;
                        color: white;
                        text-align: center;
                        padding: 14px 16px;
                        text-decoration: none;
                        }

                        li a:hover:not(.active) {
                        background-color: #111;
                        }

                        .active {
                        background-color:rgb(224, 157, 11);
                        }

            /*the small divs styling*/
           .big_divs{
                background-color:aqua;
                display: inline;
            }
            .first, .second, .third{
                width:230px;
                margin-left: 20px;
                background-color: antiquewhite;
                float: left;
                margin-top: 100px;
                border-radius: 15px;
            }

            .s{
                      width: 100%;
                      padding: 15px;
                      margin: 5px 0 22px 0;
                      display: inline-block;
                      border: none;
                      background: #f1f1f1;
                    }
                    
                    input[type=text]:focus, input[type=password]:focus {
                      background-color: #ddd;
                      outline: none;
                    }
                    
                    hr {
                      
                      margin-bottom: 25px;
                    }
                
                    button {
                      background-color: rgb(224, 157, 11);
                      color: white;
                      padding: 14px 20px;
                      margin: 8px 0;
                      border: none;
                      cursor: pointer;
                      width: 100%;
                      opacity: 0.9;
                    }
                    
                    button:hover {
                      opacity:1;
                    }
                    
                    /* Float cancel and signup buttons and add an equal width */
                    .cancelbtn, .signupbtn ,.alreadyuser{
                      float: left;
                      width: 40%;
                      border-radius: 7px;
                      margin-top: 25px;
                    }
                    
                    .alreadyuser{
                      float: left;
                      width: 40%;
                      border-radius: 7px;
                      margin-top: 25px; 
                      margin-left: 15px;
                      background-color: #555555;
                    }
                    /* Add padding to container elements */
                    .container {
                      padding: 16px;
                    }
                    
                    .v{
                        width: 500px;
                        height: 300px;
                        margin-left: 750px;
                        margin-top: 70px;
                        position: relative;
                        
                        /*background-color: aqua*/
                    }
                    /* Clear floats */
                    .clearfix::after {
                      content: "";
                      clear: both;
                      display: table;
                    }

                    body {
                      background-image: url("/home/dina/Desktop/goodreads/views/pages/imgg.jpg");
                      background-color: #cccccc;
                      }
                      .heading{
                        color: aliceblue;
                      }


                      .sm{
                        margin-left: 30px;
                      }
        </style>
<div class="bg-image">
                <!--starting the navigation bar-->
                <ul>
                        <li><a class="active" href="#home">Home</a></li>
                        <li><a href="#about us">About us</a></li>
                        <li><a href="#categories">Categories</a></li>
                        <li><a href="#author">Author</a></li>
                        <li><a href="#terms and conditions">Terms & conditions</a></li>
                </ul>

                <!--the small divs-->
                <div class="big_divs">
                    <div class="first">
                      <div class="sm"> 
                        <h3>Popular books</h3>
                        <h4>The Great Gatsby</h4>
                        <h4>To Kill a Mockingbird</h4>
                        <h4>Harry Potter</h4>
                        <h4>The Catcher in the Rye</h4>
                        <h4>The Hobbit</h4>
                      </div>
                    </div>
                    <div class="second">
                      <div class="sm">
                        <h3>Popular authors</h3>
                        <h4>Stephen King</h4>
                        <h4>Cassandra Clare</h4>
                        <h4>James Patterson</h4>
                        <h4>John Green</h4>
                        <h4>Dan Brown</h4>
                      </div>
                    </div>
                    <div class="third">
                      <div class="sm">
                      <h3>Popular categories</h3>
                      <h4>Romance</h4>
                      <h4>Science Fiction</h4>
                      <h4>Fantasy</h4>
                      <h4>Horror</h4>
                    </div>
                    </div>
                </div>


                  <!--starting the form-->
                  <form action="/" method="POST"  class="v">   
                    <div class="container">
                      <h3 class="heading">Sign to your free account</h3>
                      <hr>
                  
                      <input type="text" placeholder="First Name" name="FirstName" required>
                      <input type="text" placeholder="Last Name" name="LastName" required>
                      <input type="text" placeholder="Enter Email" name="email" required>
                      <input type="password" placeholder="Enter Password" name="psw" required>
                      <input type="password" placeholder="Repeat Password" name="pswrepeat" required>
                      <br><br>
                      <!--to upload photo-->
                      <form>
                        <span>your photo:</span>
                        <input type="file" name="file"><br>
                        <br>
                      </form>
                      
                     
                      
                      <a onclick="window.location.href='/login'" style="color:dodgerblue">Already a user</a>
                  
                      <div class="clearfix">
                       
                        <button class="signupbtn" class="bt" >Sign Up</button>                        
                      </div>
                    </div>
                  </form>
                </div>
    </body>
</html>